

<h1>List of Actions</h1>

<h3>Total: {{(actions)?.length}}</h3>


<div>
  <h2 md-dialog-title>MY DIALOG</h2>
  <hr>
  <mat-dialog-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime cum dolorem officiis assumenda rem alias, omnis nobis nam. Ratione soluta libero architecto cupiditate at fugit consectetur sit dignissimos vitae.
    <br>
    <br>
    <strong>{{data}}</strong>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
  </mat-dialog-actions>
</div>




<div class="flex-container" fxLayout="row" fxLayoutAlign="space-between start" >

<mat-card *ngFor="let action of actions" class="action-card mat-elevation-z10">

  <div class="flex-item" >

    <mat-card-header>
        <mat-card-title>{{action.name}}</mat-card-title>
    </mat-card-header>

  <img mat-card-image [src]="">
  <mat-card-content>
    <p></p>
  </mat-card-content>

  <mat-card-actions class="actions-action">

    <button mat-button class="mat-raised-button mat-primary" (click)="openDialog()">Edit Action</button>

  </mat-card-actions>
  </div>

</mat-card>
</div>
